@using Resources;
@{Page.Title = @LangResource.ForgotPassword;}
@{
var username = "";
var message = "";
if(IsPost)
{
username = Request["username"];
// Validation
if (username.IsEmpty()) {
ModelState.AddError("username", LangResource.UsernameRequired);
}
// Generate and send password reset email
if(ModelState.IsValid)
{
// Generate confirmation link URL
var resetToken = WebSecurity.GeneratePasswordResetToken(username);
var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer,
UriFormat.Unescaped);
var passwordResetUrl = hostUrl +
"/Account/passwordReset?resetToken=" +
HttpUtility.UrlEncode(resetToken);
// Send Email
WebMail.Send(to: username,
subject: "Password Reset for " + username,
body: "Please visit <a href='" + passwordResetUrl + "'>" + passwordResetUrl +
"</a> to reset wer password."
);
message = "An email has been sent to wer registered email address " +
"with a password reset link.";
}
}
}
<h1>@LangResource.ForgotPassword</h1>
@if (!message.IsEmpty()) {
<p>@message</p>
}
else
{
<form action="forgotPassword" method="post">
<div>
@Html.Label("Username: ", "username")<br />
@Html.TextBox("username", username)
@Html.ValidationMessage("username")
</div>
<div>
<input type="submit" value="Reset Password" />
</div>
</form>
}
